@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-y: none;
}

body {
  font-family: "Heebo", system-ui, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input,
textarea,
select,
button {
  font-family: inherit;
}
